<template>
  <p
    :class="`form-row ${classes.join(' ')}`"
    :id="`${id}_field`"
    :data-priority="priority"
  >
    <label :for="id" :class="`${labelClass.join(' ')}`"
      >{{ label }}&nbsp;
      <abbr
        v-if="required && type !== 'hidden'"
        class="required"
        title="required"
        >*</abbr
      ></label
    >
    <span class="woocommerce-input-wrapper">
      <!-- "text","password","datetime","datetime-local","date","month","time","week","number","email","url","tel" -->
      <input
        v-if="basicTypes.includes(type)"
        :type="type"
        :class="`${inputClass.join(' ')} input-text`"
        :name="id"
        :id="id"
        :placeholder="placeholder"
        :value="value"
      />
      <!-- "select","state","country" -->
      <select
        v-if="selectTypes.includes(type)"
        style="padding: 11px; -webkit-appearance: auto"
        :class="`${inputClass.join(' ')} input-text`"
        :name="id"
        :id="id"
      >
        <template v-if="type === 'state'"
          ><option
            v-for="(value, key) in selectOptions.states[country]"
            :key="key"
          >
            {{ value }}
          </option>
        </template>
        <template v-if="type === 'country'"
          ><option v-for="(value, key) in selectOptions.countries" :key="key">
            {{ value }}
          </option>
        </template>
        <template v-if="type === 'select'"
          ><option v-for="(value, key) in options" :key="key">
            {{ value }}
          </option>
        </template>
      </select>

      <span
        v-if="description"
        class="description"
        :id="`${id}-description`"
        aria-hidden="true"
        >{{ description }}</span
      >
    </span>
  </p>
</template>
<script>
export default {
  props: {
    args: {
      type: Object,
      default() {
        return {};
      },
    },
    value: { type: String, default: "" },
  },
  data() {
    return {
      basicTypes: [
        "text",
        "password",
        "datetime",
        "datetime-local",
        "date",
        "month",
        "time",
        "week",
        "number",
        "email",
        "url",
        "tel",
        "hidden",
      ],
      selectTypes: ["country", "state", "select"],
      type: "text",
      label: "",
      description: "",
      placeholder: "",
      required: false,
      id: "",
      classes: [],
      labelClass: [],
      inputClass: [],
      customAttributes: {
        maxlength: false,
        autofocus: false,
        autocomplete: false,
        ariaDescribedby: "",
      },
      validate: [],
      default: "",
      priority: "",
      options: [],
      country: "TR",
    };
  },
  created() {
    if (this.args.type) {
      this.type = this.args.type;
    }
    if (this.args.label) {
      this.label = this.args.label;
    }
    if (this.args.description) {
      this.description = this.args.description;
      this.customAttributes.ariaDescribedby = `${this.args.id}-description`;
    }
    if (this.args.placeholder) {
      this.placeholder = this.args.placeholder;
    }
    if (this.args.required) {
      this.classes.push("validate-required");
      this.required = this.args.required;
    }
    if (this.args.id) {
      this.id = this.args.id;
    }
    if (this.args.class) {
      this.classes = this.args.class;
    }
    if (this.args.label_class) {
      this.labelClass = this.args.label_class;
    }
    if (this.args.input_class) {
      this.inputClass = this.args.input_class;
    }
    if (this.args.maxlength) {
      this.customAttributes.maxlength = parseInt(this.args.maxlength);
    }
    if (this.args.autocomplete) {
      this.customAttributes.autocomplete = this.args.autocomplete;
    }
    if (this.args.autofocus) {
      this.customAttributes.autofocus = "autofocus";
    }
    if (this.args.validate) {
      this.args.validate.forEach((validate) => {
        this.classes.push(`validate-${validate}`);
      });
    }
    if (!this.value) {
      this.value = this.default;
    }
    if (this.args.priority) {
      this.priority = this.args.priority;
    }
    if (this.args.options) {
      this.options = this.args.options;
    }
    if (this.args.country) {
      this.country = this.args.country;
    }
  },
  computed: {
    selectOptions() {
      // 'select_options' => array(
      //    'states'    => WC()->countries->states,
      //    'countries' => WC()->countries->get_countries()
      // )
      return this.$store.getters["selectOptions"];
    },
  },
};
</script>
